# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / Cache
# =========================
build/
dist/
.eggs/
*.egg-info/
.cache/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Test / Temporary
# =========================
tmp/
temp/
